@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --font-syne: "Syne", sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C8F400;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #52525b #18181b;
}